<div class="total_field" [formGroup]="group" *ngIf="field.name!=null">
	<h4 class="subcardcontentHeading" [innerHTML]="field.label | keepHtml"></h4>
	<mat-form-field appearance="outline">
		<!-- <mat-label>{{field.label}}</mat-label> -->
	    <textarea [formControlName]="field.name" matInput></textarea>
	    <ng-container *ngFor="let validation of field.validations;" ngProjectAs="mat-error">
	        <mat-error *ngIf="group.get(field.name).hasError(validation.name)">This is a required Field<!-- <span>{{validation.message}}</span> --></mat-error>
	    </ng-container>
	</mat-form-field>
</div>