<div class="scrollElement">
	<div class="top-banner-section covid19-banner" style="background-image: url(assets/images/covid19/banner-img.jpg);">
		<div class="container d-flex align-items-center h-100">

			<div class="covid19-banner-content w-100">
				<h2 class="bannerText">COVID-19 HELP <img src="assets/images/covid19/banner-pin-icon.png" class="pin-img">	Volunteer Platform</h2>
			</div>

			<div class="linkText-holder d-flex align-items-center justify-content-between">
				<div class="left-link-holder">
					<a (click)="goToRegister('pinner')"  class="linkText">I Need Help</a>
				</div>
				<div class="right-link-holder">
					<a (click)="goToRegister('doer')" class="linkText">I Want to Volunteer</a>
				</div>
			</div>
		</div>
	</div>
	<!--end top-banner-section-->
	<!-- <hr class="borderLine m-0" > -->

	<div class="cms-sec bgcolor-themeGreen  py-4">

		<div class="container">

			<h2 class=" boldText cms-headingText-2 color-blue mb-2">About COVID-19 HELP</h2>
			<p class="color-blue">As an online marketplace for local services, at <a class="color-blue" routerLink="/">PinDoit.com</a>, we have altered our
				platform to help people in need during this unique time. Our goal is to connect our local neighbors in
				need – the elderly, disabled, or immune-compromised – with voluteers who can help with errands and
				services. We have added a COVID-19 HELP category to our website. There are NO FEES for any COVID-19 HELP
				task.Together we will overcome the challenges posed by the corona virus. Be smart, be safe and thank you
				for your willingness to support your community. Please check <a class="color-blue" routerLink="/">PinDoit.com</a> often for updates and new Pin
				requests for help.</p>

		</div>

	</div>

	<div class="cms-sec py-4">

		<div class="container">

			<h2 class=" boldText cms-headingText-2 color-blue mb-2">How It Works</h2>
			<p>Local residents looking for free help should log into <a class="color-blue" routerLink="/">PinDoit.com</a> and create a Pinner profile. Volunteers
				sign up by creating a Doer profile. COVID-19 HELP is listed among the main service categories such as
				“Home Services” and “Pet Care”. Those in need should create a Pin that details the desired service,
				Volunteers sign up and select the type of service that they can provide. </p>

			<div class="row mt-3">
				<div class="col-lg-4">
					<p>Current COVID-19 categories include: </p>
				</div>
				<div class="col-lg-8">
					<ul class="row category-list">
						<li class="col-6 col-md-4">Shopping </li>
						<li class="col-6 col-md-4">Food Preparation </li>
						<li class="col-6 col-md-4">Pet Care</li>
						<li class="col-6 col-md-4">Errands</li>
						<li class="col-6 col-md-4">Meals</li>
						<li class="col-6 col-md-4">Outdoor Services</li>
						<li class="col-6 col-md-4">Driving</li>
						<li class="col-6 col-md-4">Babysitting</li>
						<li class="col-6 col-md-4">Other</li>
					</ul>
				</div>
			</div>

		</div>

	</div>

	<hr class="borderLine m-0">

	<div class="cms-sec py-4">


		<div class="container">

			<h2 class="boldText cms-headingText-1 color-blue mb-3 text-center">Instructions for those in need</h2>

			<div class="row align-items-center">

				<div class="col-md-7">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Register as a person in need
						(<span class="color-themeGreen">Pinner</span>)</h3>
					<div class="row">
						<div class="col-md-12">
							<ol class="withNumb-list">
								<li>Go to <a class="color-blue" routerLink="/">www.PinDoit.com</a> and click
									register.
								</li>
								<li>Select Pinner when registering.
									<div class="register-block-img-holder">
										<img src="assets/images/covid19/register-img.png">
									</div>
								</li>
								<li>Complete the following sections in Account Settings:
									<ol type="a">
										<li><b class="boldText">Profile</b></li>
										<li><b class="boldText">Contact Info</b></li>
										<li><b class="boldText">Location Settings</b> (so we can match you with the
											Volunteers closest to you)</li>
										<li>Remaining sections are optional for COVID-19 HELP. You do NOT have to
											complete credit card information since the service is FREE.</li>
										<li>If you would like to reimburse the Volunteer (Doer) electronically for goods
											(groceries, food, etc.) set up your bank account in Bank Information (not
											required).</li>
									</ol>
								</li>
							</ol>
						</div>

					</div>

				</div>
				<!--end col-->
				<div class="col-md-5">
					<div class="video-holder noVideo">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/FF7x4ttsCtU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="text-center">Watch tutorial video for Pinner signup</p>
				</div>

			</div> <!-- block row-->

			<div class="row mt-4">
				<div class="col-md-12">
					<div class="heading-block d-flex flex-wrap align-items-center">
						<h3 class="boldText  cms-headingText-2 mb-2 color-dark">Pin a Request</h3>
						<p>To submit a request for help you will need to create a “Pin”.</p>
					</div>
					<ol class="withNumb-list">
						<li>Click on the Pin icon <img src="assets/images/icons/header-green-pin-icon.svg" width="28">
							in the upper right-hand corner of any page or click Pin a Job in one of the green circles on
							the Home Page. <img src="assets/images/covid19/circle-pin.png" width="50"></li>

						<li>Select the <b class="boldText color-blue">COVID-19 HELP</b> category and then a subcategory
							for the type of assistance needed.</li>
						<li>
							Add specific information to the Pin for the volunteer such as:
							<ul class="child-ul">
								<li><b class="boldText color-blue">What</b> specific services or items are needed.</li>
								<li><b class="boldText color-blue">When</b> you need this service done or items
									delivered.</li>
								<li><b class="boldText color-blue">Where</b> you would like items delivered or a service
									performed.</li>
								<li><b class="boldText color-blue">Why</b> you need help. Please be candid and help
									volunteers understand your concerns and why you cannot leave your home. <em>(e.g.
										I’m disabled and need items placed at my door and not the bottom of my
										steps).</em></li>
								<li>How you are going to pay for items; your preferred method of contact, etc.</li>

							</ul>

						</li>
						<li>When your Pin information is complete, Post it to Public so anyone on the site can see it
							and respond to you. Don’t worry, you will remain anonymous.</li>
						<li>You can choose to search registered volunteers (Doers that match your criteria) and invite
							them to respond.</li>

					</ol>


				</div>
				<!--end col-12-->

				<div class="col-md-12">

					<p class="text-center mb-3">Look for the <b class="boldText color-blue">COVID-19 HELP badge</b> that
						designates volunteers (Doers) willing to help.</p>

					<div class="covid-badge-img-holder d-md-flex align-items-center justify-content-center">
						<div class="img-holder-1 mr-md-2">
							<img src="assets/images/covid19/badge.png">
						</div>
						<div class="img-holder-2 ml-md-2">
							<img src="assets/images/covid19/doer-records.png">
						</div>
					</div>

				</div>
				<!--end col- md 12-->

				<div class="col-md-12">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Choose a Volunteer</h3>

					<ol class="withNumb-list">
						<li>When a volunteer (Doer) sees your Pin and offers to help, you will be notified by email. The
							email subject will read, “PinDo: You’ve received a quote”.</li>

						<li>Select the link in the email to go to your Pin and select HIRE.</li>

						<li>When the task is complete, please close the Pin and review your volunteer (Doer).</li>
					</ol>

				</div>



			</div> <!-- block row-->



		</div> <!-- end container -->
	</div> <!-- end cms-sec -->

	<hr class="borderLine m-0">

	<div class="cms-sec py-4">
		<div class="container">

			<h2 class="boldText cms-headingText-1 color-blue mb-3 text-center">Instructions for volunteers</h2>

			<div class="row align-items-center">

				<div class="col-md-7">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Register as a volunteer
						(<span class="color-themeOrange">Doer</span>)</h3>
					<div class="row">
						<div class="col-md-12">
							<ol class="withNumb-list">
								<li>Go to <a class="color-blue" routerLink="/">www.PinDoit.com</a> and click
									register.
								</li>
								<li>Select <span class="color-themeOrange">Doer</span> when registering and then either
									Individual or Company.
									<div
										class="doer-register-img-holder d-flex align-items-center justify-content-center mt-3">
										<div class="left-block-img-holder">
											<img src="assets/images/covid19/register-doer-img.png">
										</div>
										<div class="right-block-img-holder">
											<img src="assets/images/covid19/iam-doer-img.png">
										</div>
									</div>

								</li>
								<li>Complete the following sections in Account Settings:
									<ol type="a">
										<li><b class="boldText">Profile</b></li>
										<li><b class="boldText">Contact Info</b></li>
										<li><b class="boldText">Location Settings</b> (so we can match you with the
											Pinners closest to you)</li>
										<li>Services Offered. Be sure to select COVID-19 HELP and choose subcategories.
										</li>
										<li>Remaing sections are optional for COVID-19 HELP. You do NOT have to complete
											credit card information since the service is FREE.</li>
										<li>If your services include shopping for goods (groceries, food, etc.) you can
											set up
											your bank account in Bank Information but this is not required.</li>
									</ol>
								</li>
							</ol>
						</div>

					</div>

				</div>
				<!--end col-->
				<div class="col-md-5">
					<div class="video-holder noVideo">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/oaMC9XIqCmI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p class="text-center">Watch tutorial video for Doer signup</p>
				</div>

			</div> <!-- block row-->

			<div class="row">

				<div class="col-md-12 mt-3">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Check out existing Public Pins
					</h3>

					<ol class="withNumb-list">
						<li>Click <b class="boldText">Find a Pin</b> from the main navigation menu.</li>

						<li>Search the listed Pins. They are pre-filtered for your area and the subcategories that you
							selected when registering.</li>

						<li>Click <b class="boldText">View Details</b> or <b class="boldText">Apply Now</b> to respond
							to a Pin request.</li>
					</ol>

				</div>

				<div class="col-md-12 mt-3">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Respond to a Pin (help request)
					</h3>
					<p>Once you have completed your profile settings Pinners in need may find you directly. </p>

					<ol class="withNumb-list">
						<li>If you receive a direct request it will come via email.</li>

						<li>Select <b class="boldText">QUOTE</b> to volunteer for the Pin; or <b
								class="boldText">REJECT</b> if you cannot perform the requested task.</li>

						<li>If you select <b class="boldText">QUOTE</b>, write a short message to the Pinner in the
							Cover Letter section. Then click <b class="boldText">SAVE</b> at the bottom of the quote
							page.</li>
					</ol>

				</div>

				<div class="col-md-12 mt-3">

					<h3 class="boldText cms-headingText-2 color-blue mb-2 color-dark">Get Hired!</h3>
					<p>If a Pinner selects you for help they will accept your quote and you will receive an email
						informing you that you are hired! Please make sure to respond right away.</p>

					<ol class="withNumb-list">
						<li>Complete the task.</li>

						<li>Select REQUEST PAYMENT – <span class="mediumItalicText"><b>there is NO PAYMENT</b> of course
								but our platform was built for monetary transactions and we are doing our best to modify
								it for COVID-19 HELP. By selecting REQUEST PAYMENT, it tells the Pinner that the task is
								complete and that you are ready to close the Pin.</span></li>

						<li>The Pin will close and the Pinner will leave a review.</li>
					</ol>

				</div>

			</div> <!-- block row-->

		</div>
	</div>

	<div class="cms-sec py-4 blue-sec text-center">
		<div class="container">
			<h2 class=" boldText cms-headingText-1 color-blue mb-2">Volunteer Guidelines</h2>
			<p class="cms-headingText-2 color-wht">Volunteers should be at low risk of contracting the virus and are
				asked to follow CDC guidelines, taking ALL necessary precautions to protect themselves and others by
				frequently washing hands, wiping down
				containers and adhering to social distancing recommendations. Pinners should provide detailed
				instructions such as where to leave items for drop off or what indentification may be required for pick
				up of prescriptions.</p>
		</div>
	</div>

	<div class="cms-sec py-4 text-center">
		<div class="container">
			<a routerLink="/terms-privacy" class="color-dark cms-headingText-2 tc-link"><b class="boldText">Terms and Conditions</b></a>
		</div>
	</div>




</div>
<!--end scrollElement-->