<div class="dummy_content no_minheight" [hidden]="isHiddenaffiliation">
	<div class="row">
		<div class="col-md-4 align-self-center">
			<div class="icon-space text-center">
  				<img src="assets/images/icon-set/08.svg" alt="">
  			</div>
		</div>
		<div class="col-md-8 align-self-center">
			<h6 class="maincardsubHeading">Affiliations &amp; Certificates</h6>
			<div class="col-md-5 pl-0">
				<p>Please add the affiliations or certifications to support your experience.</p>
				<button mat-raised-button color="primary" class="text-uppercase mat-primary">
	                Add Now
	            </button>
			</div>
		</div>
	</div>
</div>
<div *ngIf="isHiddenaffiliation">
	<div class="border-box">
		<h4>Dummy Insurance Name</h4>
		<h6>Reference ID - ERT84874830</h6>
		<p>The first is a non technical method which requires the use of adware removal software. Download free adware and spyware removal software and use advanced tools to help prevent getting infected. </p>
	</div>	
</div>
