<div class="comn-dialog">
  <div mat-dialog-content>

    <form autocomplete="off" [formGroup]="create_report" name="create_report"
      (ngSubmit)="onSubmitCreateReport(create_report.value)">

      <div class="header-content mb-0 d-flex justify-content-between">
        <div class="heading pb-2">
          <span class="heading-text">
            Report Post
          </span>
        </div>
        <div class="dialog-close-link" (click)="closeDialog()"><span class="ic-close"></span></div>
      </div>
      <hr class="mt-0 mb-3">
      <div class="comnForm">
        <div class="form-dsc-text">
            <p>Please tell us why you think this post is inappropriate to PinDo</p>
        </div>
        <div class="form-group">
          <div class="form-control-wrap withCounter">
            <textarea class="form-control" placeholder="Message" maxlength="500" formControlName="message" name="message"
              (keydown)="wordCountFunc($event)"></textarea>
              <span class="counterNumb">{{msgCountNumb}}</span>
            </div>
          <label class="formLabel-error" *ngIf="create_report.get('message').hasError('required') && submitted">This Field
            is Requerd</label>
          <label class="formLabel-error" *ngIf="create_report.get('message').hasError('maxlength') && submitted">Word
            Limit max 500.</label>
        </div>
        <div class="btn-holder">
          <button mat-flat-button class="btn-orangeColor mr-3 text-uppercase" type="submit">Report</button>
          <button mat-button type="button" (click)="closeDialog()" class="btn-withoutBg text-uppercase">Do not report</button>
        </div>
      </div>
    </form>

  </div>
</div>