.form-panel {
    h4 {
        font: 30px/32px 'Montserrat-Regular';
        color: #484f56;
        margin-bottom: 20px;
    }
    mat-form-field {
        width: 100%;
    }
    
}
/deep/ .mat-form-field-appearance-outline .mat-form-field-flex {
    position: relative;
    z-index: 9;
}
/deep/ .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #f5faff;
    background: #f5faff;
}
/deep/ .mat-form-field-appearance-outline.mat-form-field-should-float .mat-form-field-outline {
    color:#0569c247;
}
/deep/ .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, 
/deep/ .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap, 
/deep/ .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start,
{
    border-width: 1px;
}
/deep/ .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0569c247;
}
/deep/ .mat-form-field-label {
    color: #c1cfdd;
}
/deep/ .mat-form-field,
/deep/ .mat-input-element {
    font-family: 'Montserrat-Medium';
    color: #484f56;
}
.custombtnboder {
    font-family: 'Montserrat-SemiBold';
    .mat-button {
        font-family: 'Montserrat-SemiBold';
        /*line-height: 60px;*/
        color: #bad141;
        padding: 0 45px;
        /*border-radius: 30px;*/
        border: 2px solid #bad141;
        &.bluefb {
            border-color: #3b5998 !important;
            color: #fff;
            background: #3b5998;
            .mat-button-focus-overlay {
                background-color: #3b5998 !important;
            }
            i {
                margin-right: 10px;
            }
        }
    }
    
}

.custombtnboder .mat-button:not(:disabled):hover {
    border-color: #3abd00;
}
.custombtnboder .mat-button:disabled {
    opacity: .7;
}
.custombtnboder .mat-button-focus-overlay {
    background-color: rgba(237, 255, 218, 0.34);
}
.custombtnboder {
    label.or {
        color: #484f56;
        font-size: 14px;
        font-family: 'Montserrat-SemiBold';
        display: inline-block;
        margin: 0 20px;
    }
}
.mat-progress-spinner{
    width:40px;
    height:40px;
}


@media only screen and (max-width: 1200px) {
    .custombtnboder {
        .mat-button {
            line-height: 46px;
            padding: 0 30px;            
        }        
    }
}
