<div class="maincontentPartLoginModule">

  <div class="container-fluid h-100 d-flex">

    <div class="loginRegister-form-wrap mt-auto mb-auto">
      <div class="form-panel">
        <div class="main-heading-block mb-3">
          <h4 class="heading-text text-uppercase">Reset Password</h4>
      
        </div>

        <form #resetPassForm="ngForm" id="doerRegForm" (ngSubmit)="resetFunction(resetPassForm.value,resetPassForm.valid)" *ngIf="formLoadedFlag">

          <div class="">
            <mat-form-field appearance="outline">
              <mat-label>PassWord</mat-label>
              <input matInput name="password" type="password" placeholder="Password*" #userpassword="ngModel" [ngModel]="user.password" required validateEqual="confirmPassword" reverse="true">     
             
              <mat-error *ngIf="userpassword.errors && (resetPassForm.submitted)" class="error-msg">
                  <div [hidden]="!userpassword.errors.required">
                    This field required
                  </div>
                  <div [hidden]="(userpassword.valid || userpassword.errors.required)">
                    Password mismatch
                  </div>
              </mat-error>                
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" name="confirmPassword" placeholder="Confirm Password*" #con_userpassword="ngModel" [ngModel]="user.confirmPassword" required validateEqual="password">    

              <mat-error *ngIf="con_userpassword.errors && (resetPassForm.submitted)" class="error-msg">
                  <div [hidden]="!con_userpassword.errors.required">
                    Confirm Password required
                  </div>
                  <div [hidden]="(con_userpassword.valid || con_userpassword.errors.required)">
                    Password mismatch
                  </div>
              </mat-error>                
               
            </mat-form-field>
          </div>

          <div class="rember_forgot d-flex justify-content-between">
            <span></span>
            <a routerLink="/login">Login to your account</a>
          </div>

          <div class="mt-2">
            <button mat-button class="text-uppercase btn-greenColor w-100 lg-size mb-2">
              Update Password
              <!-- <mat-progress-spinner class="example-margin" [color]="color" [mode]="mode" [value]="value" [diameter]="20"></mat-progress-spinner> -->
            </button>
          </div>


        </form>
      </div>
    </div>

  </div>
</div>