<insured-doer #insuredDoerInfo (refreshInfo)="refreshMethod($event)"></insured-doer>
<div class="comn-dialog">
  <div mat-dialog-content>
    <div class="header-content mb-0 d-flex justify-content-between mb-2">
      <div class="heading pb-2">
        <h3 class="heading-text">MANAGE BADGES</h3>
      </div>
      <div class="dialog-close-link" (click)="closeDialog()"><span class="ic-close"></span></div>
    </div>

    <div class="badge-manage-list-holder">

      <hr class="m-0">
      <div class="badge-manage-list d-md-flex align-items-center justify-content-between py-3"
        *ngFor="let row of badgeData; let i=index">

        <div class="badgeInfo d-flex align-items-center flex-shrink-0">
          <div class="badgeImg mt-0 mb-2 mt-md-1 mb-md-1 mr-2 mr-md-3 mr-lg-4 text-center flex-shrink-0">
            <img src="{{this.myGlobals.uploadUrl + '/badges/' + row.icon}}">
          </div>
          <div class="badge-title">{{ row.name }}</div>
        </div>

        <div class="badge-dscInfo px-md-3">
          <p class="mb-0" [innerHTML]="row.description"></p>
        </div>

        <div class="badge-apply text-center flex-shrink-0" *ngIf="row.is_applied != 1">
          <button mat-button class="btn-orangeColor text-uppercase btn-block lg-size"
            (click)="toggleParentPopup('InsuredDoerComponent', row.id, row.slug)">Apply Now</button>
        </div>
        <div class="badge-apply text-center flex-shrink-0" *ngIf="row.is_applied == 1 && row.recieved_badge_date">
          <button mat-button class="btn-gray-border btn-block lg-size" disabled
            >{{ row.recieved_badge_date | datetransform }}</button>
        </div>
        <div class="badge-apply text-center flex-shrink-0" *ngIf="row.is_applied == 1 && !row.recieved_badge_date">
          <button mat-button class="btn-gray-border btn-block lg-size" disabled >Applied</button>
        </div>

      </div>
    </div>
  
  </div>
</div>