.customerror-msg {
	font-family: 'Lato-Medium';
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	margin-top: -5px;
}
.for-error {
	position: relative;
}
.for-error .customerror-msg {
	position: absolute;
	bottom: 0;
	font-size: 12px;
}