<button class="btn btn-link orange-text text-uppercase w-100" (click)="togglePopup()">Change Password</button>

<div class="overlayPopup" #popUpVar>
	<div class="popupHeader">
		<button mat-icon-button class="btn-back float-left" (click)="togglePopup()"><span class="or or-return"></span></button>
		<h3>Change Password</h3>
	</div>
	<div class="popupContent">
        <div class="container">
        	<div class="col-md-6 offset-md-3">
	        	<form #changePassword="ngForm" (ngSubmit)="submitPassword(changePassword)">
	        		<div class="" ngModelGroup="passwordValidate" #passwordValidate="ngModelGroup" checkPaswordMatch>
	        			<div class="for-error">
			        		<mat-form-field appearance="outline" [ngClass]="{'mat-form-field-invalid':(passwordValidate.errors?.changePassempty || passwordValidate.errors?.notEqual || passwordValidate.errors?.bothEmpty || passwordValidate.errors?.patternChangePassDoesntMatch) && changePassword.submitted}">
				                <mat-label>PassWord</mat-label>
				                <input matInput name="password" type="password" placeholder="Password*" #userpassword="ngModel" [(ngModel)]="userPassword.password">
				            </mat-form-field>
				            <mat-error *ngIf="(passwordValidate.errors?.changePassempty || passwordValidate.errors?.bothEmpty) && changePassword.submitted" class="customerror-msg">
			                    This is a required Field
			                </mat-error> 
			                <mat-error *ngIf="passwordValidate.errors?.patternChangePassDoesntMatch && changePassword.submitted" class="customerror-msg">
			                    Password should contain uppercase, lowercase, number and special character.
			                </mat-error>
		                </div>
		                <div class="for-error">
				            <mat-form-field appearance="outline" [ngClass]="{'mat-form-field-invalid':(passwordValidate.errors?.confirmPassempty || passwordValidate.errors?.notEqual || passwordValidate.errors?.bothEmpty || passwordValidate.errors?.patternConfPassDoesntMatch) && changePassword.submitted}">
				                <mat-label>Confirm PassWord</mat-label>
				                <input matInput name="confirmPassword" type="password" placeholder="Confirm Password*" #userconfpassword="ngModel" [(ngModel)]="userPassword.changePassword">    
				                           
				            </mat-form-field>
				            <mat-error *ngIf="(passwordValidate.errors?.confirmPassempty || passwordValidate.errors?.bothEmpty) && changePassword.submitted" class="customerror-msg">
			                    This is a required Field
			                </mat-error> 
			                <mat-error *ngIf="passwordValidate.errors?.patternConfPassDoesntMatch && changePassword.submitted" class="customerror-msg">
			                    Password should contain uppercase, lowercase and number
			                </mat-error>
		                </div>
			            <mat-error *ngIf="passwordValidate.errors?.notEqual && changePassword.submitted" class="customerror-msg">
		                    Password Does Not Match
		                </mat-error>

		                
		            </div>
		            <div class="d-flex justify-content-center pt-5">
		                <button type="submit" mat-raised-button color="primary" class="text-uppercase mat-primary mr-2">
		                    Save
		                </button>
		            </div>
	        	</form>
        	</div>
        </div>
    </div>
</div>

