<div class="comn-dialog">
  <div mat-dialog-content>
    <div class="header-content mb-0 d-flex justify-content-between">
      <div class="heading pb-2">
        <h3 class="heading-text">{{ parent_name }}</h3>
      </div>
      <div class="dialog-close-link" (click)="closeDialog()"><span class="ic-close"></span></div>
    </div>
    <hr class="mt-0 mb-3">

    <div class="block-wrap">
      <div class="service-infoBox d-flex align-items-center flex-wrap">
        <span class="custom-chips-text my-1 mx-1" *ngFor="let category of parent_category">
          <span class="chips-box">{{category?.child_category_details.name}}</span>
        </span>
      </div>

    </div>
  </div>
</div>