.support-section {
	padding: 60px 0;
  position: relative;
  z-index: 3;
}
.desc_text {
    font: 20px/34px 'Metropolis-MediumItalic';
    color: #242424;
    padding-right: 0;
}
.form-panel-support {
	padding: 40px 25px;
	background: #fff;
	border-radius: 2px;
  	box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.07);
  	position: relative;
    // top: -115px;
}

