/deep/ .indv-doer {
	position: relative;
	padding-bottom: 75px;
	.abs-btngrp {
		/*bottom: -52px;*/
	}
}

::ng-deep{

.mat-checkbox-checked.mat-accent .mat-checkbox-background, 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
background-color: #E6854A !important;
border-radius: 100%;
}

.mat-checkbox-frame {
border-color: #E6854A !important;
}


body .mat-checkbox:not(.mat-checkbox-disabled) {
	.mat-checkbox-ripple .mat-ripple-element {
		background: rgba(230, 133, 74, 0.16) !important;
	}
}

}