.total-dialogCntent h4 {
	color: #484f56;
	font-size: 18px;
	line-height: 22px;
	font-family: 'Montserrat-SemiBold';
}
.chooseProceedOptn {
    font-size: 11px;
    font-family: 'Montserrat-Medium';
    text-align: left;
    .mat-radio-button {
    	font-family: 'Montserrat-Medium';
    }
}