<div class="total-dialogCntent text-center">
    <div class="img_matDialog">
        <img src="assets/images/payment-icons/pin-icon.png" alt="">
    </div>
    <div class="headerDialog">
        <h2>Apply to this pin</h2>
        <!-- <h4>You can apply to this pin as following users</h4> -->
    </div>
    <div class="content_part">
        <div class="row">
            <div class="col-md-6">
                <div class="inner_block">
                    <p>Existing user? Login to your account and then apply for the pin.</p>
                    <div class="custombtnboder mt-4">
                      <button mat-button (click)="gotoChooseState(1)" class="text-uppercase">
                        Login
                      </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="inner_block">
                    <p>New user? Register for free as a Doer and then apply for the pin.</p>
                    <div class="custombtnboder mt-4">
                      <button mat-button (click)="gotoChooseState(2)" class="text-uppercase">
                        Register
                      </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


