<div class="overlayFullPopup" #popUpVar>
  <div class="fullPopupHeader px-3">
    <button mat-icon-button class="btn-back float-left orangeColor" (click)="togglePopup()"><span
        class="or or-return"></span></button>
    <h3 class="heading-text mb-0 text-uppercase">Change Password</h3>
  </div>
  <hr class="m-0">
  <div class="fullPopupContent">
    <div class="container">
      <div class="col-md-6 offset-md-3">
        <div class="matComnForm">
          <form #myForm="ngForm" class="example-form" [formGroup]="changePasswordForm" autocomplete="off">

            <mat-form-field appearance="outline">
              <mat-label>Current Password</mat-label>
              <input matInput placeholder="" name="oldPassword" formControlName="oldPassword" type="{{oldPassToggle}}"
                required>

              <mat-error *ngIf="passwordChangeController.oldPassword.errors?.required">Old Password is required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>New Password</mat-label>
              <input matInput placeholder="" name="newPassword" formControlName="newPassword" type="{{newPassToggle}}"
                required>

              <mat-error *ngIf="submitted && passwordChangeController.newPassword.errors?.required"> Password is
                required
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Confirm New Password</mat-label>
              <input matInput placeholder="" name="confPassword" formControlName="confPassword"
                type="{{confPassToggle}}" required>

              <mat-error *ngIf="submitted && passwordChangeController.confPassword.errors?.required">Confirm Password is
                required</mat-error>
              <mat-error *ngIf="submitted && passwordChangeController.confPassword.errors?.mustMatch">Confirm Passwords
                must match</mat-error>
            </mat-form-field>

            <div class="btn-holder text-center">
              <button type="submit" mat-flat-button class="btn btn-orangeColor smFont-lg-size text-uppercase mx-2"
                (click)="changePassword()">Save</button>
              <button type="button" (click)="togglePopup()" mat-flat-button
                class="btn btn-gray-border smFont-lg-size text-uppercase mx-2">CANCEL</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>