.total_loader{
}

.total_loader_holder{
}

.total_loader_holder .pin-logo{
    width:150px;
}

.pin-logo .letter,
.pin-logo .dot {
    visibility: hidden;
}

.pin-logo .icon-wrapper {
    visibility: hidden;
}

.icon-main path,
.icon-main polygon,
.icon-main circle {
    fill: #fff;
    stroke: rgba(255, 255, 255, 0.9);
    stroke-width: 1;
}

.icon-main .inner-circle {
    stroke: #fff;
    stroke-width: 2;
}

@media only screen and (max-width: 767px) {
    .preloader__logo_wrapper {
        max-width: 100px;
    }
}