<div class="totalDashboard common_topgap">
	<app-filter-doer [slug]="pin_id" (filterData)="getFilterData($event)"></app-filter-doer>
	<div class="container pt-xl-5 mt-xl-5 pt-md-4 mt-md-4 pt-3 mt-3">
		<!-- <div class="mainHeading">
			<div class="meta-heading">
				<button mat-icon-button class="btn-back float-left mr-3" (click)="backClicked()"><span class="or or-return"></span></button>
				<h3>Invite Doers</h3>
				<p>You can select multiple doers for sending invitation.</p>
			</div>
		</div> -->
		<form #DoerListing="ngForm" (ngSubmit)="submitInviteDoer(DoerListing)">
			<div class="doer-listing row pt-0">

				<div class="col-md-6 col-xl-4"
					*ngFor="let eachDoer of doerListing | paginate: { itemsPerPage: pinLimit, currentPage: p, totalItems: totalDoer };let i = index;">

					<div class="indv-doer">
						<div class="profDoer d-flex mb-3">
							<!-- <span class="prof_img">
								<img src="assets/images/default-userImg-orange-square.svg"  alt="">
							</span> -->
							<span class="prof_img" style="cursor:pointer;" *ngIf="eachDoer?.company_logo!=null"
								(click)="commonservice.openWithNewTabDoerOrPinner(eachDoer.id,2)">
								<img src="{{componentapiUrl}}/company_logo/{{eachDoer?.company_logo}}"
									onError="this.src='assets/images/default-userImg-orange-square.svg';" alt="">
							</span>
							<span class="prof_img no-img" style="cursor:pointer;"
								(click)="commonservice.openWithNewTabDoerOrPinner(eachDoer.id,2)"
								*ngIf="fetchedPinDetails?.pinner_details?.company_logo=='' || eachDoer?.company_logo==null">
								<img src="assets/images/default-userImg-orange-square.svg" alt="">
							</span>
						
						</div>

						<div class="prof_infoDoer">
							<!-- <p class="adress_doer" *ngIf="eachDoer.address == null"><i class="fas fa-map-marker-alt"></i>Not Yet AVailable</p>
							<p class="adress_doer" *ngIf="eachDoer.address != null"><a [href]="getAddLink(eachDoer?.address)" target="_blank"><i class="fas fa-map-marker-alt"></i>{{ eachDoer.address }}</a></p> -->
							<h4 style="cursor:pointer;" (click)="commonservice.openWithNewTabDoerOrPinner(eachDoer.id,2)" class="my-3">
								{{ (eachDoer.profile_type==2)?eachDoer.company_name:eachDoer.name }}</h4>

							<div class="mb-3">
								<p class="adress_doer" *ngIf="eachDoer?.address == null"><i class="fas fa-map-marker-alt"></i>Not Yet
									Available</p>
								<p class="adress_doer" *ngIf="eachDoer?.address != null">
									<a [href]="getAddLink('cityState',eachDoer?.city,eachDoer?.state)" target="_blank"
										*ngIf="eachDoer?.user_controls.length == 0 || eachDoer?.user_controls[0]?.primary_address == 2 || (eachDoer?.user_controls[0]?.primary_address == 4 && eachDoer?.frndList != 1 && eachDoer?.communityList != 1)"><i
											class="fas fa-map-marker-alt"></i>{{eachDoer?.city}}, {{eachDoer?.state}}</a>
									<a [href]="getAddLink('fullAddress',eachDoer?.address,'')" target="_blank"
										*ngIf="eachDoer?.user_controls[0]?.primary_address == 7 || !eachDoer?.user_controls || (eachDoer?.user_controls[0]?.primary_address == 4 && eachDoer?.frndList == 1) || (eachDoer?.user_controls[0]?.primary_address == 5 && eachDoer?.frndList == 1) || (eachDoer?.user_controls[0]?.primary_address == 5 && eachDoer?.frndList != 1) || (eachDoer?.user_controls[0]?.primary_address == 4 && eachDoer?.communityList == 1)"><i
											class="fas fa-map-marker-alt"></i>{{ eachDoer?.address }}
										{{eachDoer?.city}}, {{eachDoer?.state}} {{eachDoer?.zipcode}}</a>
								</p>
							</div>

							<div class="ratingDoer d-flex mb-3" style="cursor:pointer;"
								(click)="commonservice.openWithNewTabDoerOrPinner(eachDoer.id,2)" *ngIf="eachDoer?.review_count!=0">
								<span class="indvrating" *ngFor="let eachRating of convertToarray(eachDoer?.rating_avg,'filled')"><i
										class="fas fa-star"></i></span>
								<p><strong>{{eachDoer?.rating_avg}}.0</strong> ({{eachDoer?.review_count}} True Reviews)</p>
							</div>
						</div>


						
						<div class="doerStats mb-4">
							<h4>Services Offered</h4>
							<ng-container *ngFor="let item of eachDoer?.doer_parent_cat_and_child_cat_dtls | slice:0:1">
								<div class="service-infoBox-content d-xl-flex align-items-center mb-0">
				
								  <div class="heading-block d-flex align-items-center">
									<span class="catIcon color-themeOrange mr-2" [ngClass]="{'ic-home': item?.parent_category_details?.id == 2 ,
									'ic-covid_19_new':item?.parent_category_details?.id == 3,
									'ic-entertainment':item?.parent_category_details?.id == 19,
									'ic-personal-care':item?.parent_category_details?.id == 16 ,
									 'ic-book':item?.parent_category_details?.id == 17 ,
									'ic-health':item?.parent_category_details?.id == 18 ,
									'ic-petcare':item?.parent_category_details?.id == 20}"></span>
									<h4 class="headingText mb-0">{{ item?.parent_category_details.name }}</h4>
								  </div>
				  
								  <div class="service-infoBox d-flex align-items-center pl-2">
									<div class="d-flex align-items-center flex-wrap">
									  <ng-container *ngFor="let subitem of item?.child_cat_dtls; let j=index">
										<span class="custom-chips-text_ statBox my-1 mx-1" *ngIf="j<1"><span class="chips-box">{{ subitem?.child_category_details.name }}</span></span>
									  </ng-container>
									</div>
									<span class="custom-chips-text_ statBox my-1 hover flex-shrink-0" *ngIf="item?.child_cat_dtls.length - 1 > 0" (click)="openExtraCategories(item?.child_cat_dtls, item?.parent_category_details.name)"><span class="chips-box">+{{ item?.child_cat_dtls.length - 1 }}</span></span>
								  </div>
				  
								</div>
							</ng-container>

							<ng-container *ngIf="eachDoer?.doer_parent_cat_and_child_cat_dtls.length > 1">
								<p class="more-cats_ statBox mt-1 mb-3 hover" (click)="showMoreCats(eachDoer?.doer_parent_cat_and_child_cat_dtls)">
									+{{ eachDoer?.doer_parent_cat_and_child_cat_dtls.length - 1 }} <ng-container *ngIf="eachDoer?.doer_parent_cat_and_child_cat_dtls.length - 1 < 2">Category</ng-container><ng-container *ngIf="eachDoer?.doer_parent_cat_and_child_cat_dtls.length - 1 > 1">Categories</ng-container>
								</p>
							</ng-container>

							<h4>Doer Stats</h4>
							<!-- <span class="statBox">100 Verified Jobs</span> -->
							<!-- <span class="statBox" (click)="goToPins('Ongoing',eachDoer.id)">{{eachDoer?.ongoing_pins}} Ongoing Jobs</span>
							<span class="statBox" (click)="goToPins('Completed',eachDoer.id)">{{eachDoer?.completed_pins}} Completed Jobs</span> -->

							<!-- <span class="statBox">{{eachDoer?.ongoing_pins}} Ongoing Jobs</span> -->
							<span class="statBox" *ngIf="eachDoer?.endorsement_count == 1">{{eachDoer?.endorsement_count}}
								Endorsement</span>
							<span class="statBox"
								*ngIf="eachDoer?.endorsement_count > 1 || eachDoer?.endorsement_count == 0">{{eachDoer?.endorsement_count}}
								Endorsements</span>
							<!-- <span class="statBox" *ngIf="eachDoer?.emergency">Emergency Services</span> -->
							<span class="statBox" *ngIf="eachDoer?.pins_completed == 1">{{eachDoer?.pins_completed}}
								Completed
								Job</span>
							<span class="statBox"
								*ngIf="eachDoer?.pins_completed == 0 || eachDoer?.pins_completed > 1">{{eachDoer?.pins_completed}}
								Completed Jobs</span>
						</div>
						<div class="hiredBy mb-4">
							<h4 *ngIf="eachDoer?.hiredByFriendList?.length == 0 || !eachDoer?.hiredByFriendList">Hired by
								<span>no contacts yet</span>
							</h4>
							<h4 *ngIf="eachDoer?.hiredByFriendList?.length==1">Hired By
								<span>{{eachDoer.hiredByFriendList?.length}} Contact</span>
							</h4>
							<h4 *ngIf="eachDoer?.hiredByFriendList?.length>1">Hired By
								<span>{{eachDoer.hiredByFriendList?.length}} Contacts</span>
							</h4>
							<div class="hiredCont" *ngIf="eachDoer?.hiredByFriendList?.length > 0">
								<span class="hiredBox" *ngFor="let each_pinner of eachDoer?.hiredByFriendList"
									(click)=openPinnerListPopup(eachDoer?.hiredByFriendList);>
									<img src="{{componentapiUrl}}/profile_photo/{{each_pinner?.pinner_details?.profile_photo}}"
										onError="this.src='assets/images/default-userImg-green.svg';"
										title="{{each_pinner?.pinner_details?.name}}">
								</span>
							</div>

							<!-- <span class="hiredBox">
									<img src="assets/images/hired4.jpg">
								</span> -->
							<span class="hireNumber"
								*ngIf="eachDoer.hiredByFriendList?.length>4">+{{(hiredByFriendList?.length-4)}}</span>

						</div>

						<div class="doerBadges">
							<h4>PinDo Badges</h4>
							<div class="badgCont d-flex justify-content-between" *ngIf="eachDoer?.user_badges.length>0">
								<div class="doerBadge d-flex w-100">
									<!-- <ng-container *ngFor="let eachBadge of eachDoer?.user_badges | slice:0:5">

										<span class="indvBadg" matTooltip="{{eachBadge?.badge_details?.name}}"
											matTooltipClass="actually-green-tooltip"><img
												src="{{gbConstant.uploadUrl}}/badges/{{eachBadge.badge_details?.icon}}"></span>
									</ng-container> -->
									<!-- <span class="badgContNumber" *ngIf="eachDoer?.user_badges.length > 5">
										+ {{eachDoer?.user_badges.length - 5}}
									</span> -->
									<div class="badges-slider">
										<!-- Swiper -->
										<div class="swiper-container">
											<div class="swiper-wrapper">
												<div class="swiper-slide" *ngFor="let eachBadge of commonservice.removeDuplicates( eachDoer?.user_badges, 'badge_id' )">
													<div class="badgeImg">
														<div class="badge_cont text-center d-flex justify-content-center w-100 h-100"
															(click)="tooltip.show()" matTooltipPosition="above"
															matTooltip="{{eachBadge?.badge_details?.name}}" matTooltipClass="actually-green-tooltip"
															aria-label="">
															<img src="{{gbConstant.uploadUrl}}/badges/{{eachBadge.badge_details?.icon}}" alt="">
														</div>
													</div>
												</div>
											</div>

										</div>
										<!-- Add Arrows -->
										<div class="swiper-button-next"></div>
										<div class="swiper-button-prev"></div>
									</div>

								</div>
							</div>
							<ng-container *ngIf="eachDoer?.user_badges.length==0">
								No Badges Earned Yet
							</ng-container>
						</div>
						<div class="abs-btngrp">
							<mat-button-toggle-group name="fontStyle" aria-label="Font Style">
								<mat-button-toggle value="View Details"
									(click)="commonservice.openWithNewTabDoerOrPinner(eachDoer?.id,2)">View
									Details
								</mat-button-toggle>
								<!-- eachDoer?.id -->
								<mat-button-toggle class="custom_checkboxmattoggle">
									<div class="custom_invitecheckbox">
										<input type="checkbox" (change)="selectedDoer(i)" name="doername-{{i}}" #doerOne{{i}}="ngModel"
											[(ngModel)]="inviteDoerModel[eachDoer.id]" id="doer-{{i}}">
										<label for="doer-{{i}}">Invite</label>
									</div>
								</mat-button-toggle>
								<mat-button-toggle class="green_btn" (click)="goToChat(eachDoer?.id)"><i class="fas fa-envelope"></i>
								</mat-button-toggle>
								<mat-button-toggle>
									<span class="like-box newDesign" [ngClass]="{'liked':eachDoer.favourite_doer==1}"
										(click)="likeDoer($event,eachDoer.id)"></span>
								</mat-button-toggle>
							</mat-button-toggle-group>
						</div>
					</div>
				</div>

				<div class="invite-panel d-flex justify-content-between">

					<div class="container d-flex align-items-center h-100 justify-content-between">
						<p><span class="numbr">{{numDoers}}</span> doers selected</p>

						<div class="totBtn">
							<button type="submit" mat-raised-button color="primary" class="text-uppercase mat-primary mr-2"
								[disabled]="!numDoers">
								Invite
							</button>
							<div class="custombtnboder mt-0">
								<button type="button" color="primary" mat-raised-button class="text-uppercase mat-primary"
									(click)="openDialog()">
									Skip
								</button>

							</div>
						</div>

					</div>

				</div>
			</div>
		</form>

		<ng-container *ngIf="doerListing.length==0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<ng-container>
							<div class="no_content row w-100 align-items-center">
								<div class="col-md-5">
									<img src="assets/images/nocontentinvite.png" class="float-right" alt="">
								</div>
								<div class="col-md-7">
									<ng-container>
										<h5>No Doers Found</h5>
									</ng-container>
								</div>
							</div>
						</ng-container>
					</div>
				</div>
			</div>
		</ng-container>

		<!-- <pagination-controls *ngIf="doerListing.length>0" previousLabel="" nextLabel="" class="pagination-sec colorGreen"
			(pageChange)="p = $event; onChangePage($event)"></pagination-controls> -->

		<div class="findDoer-block-sec pt-4 pb-4 pt-xl-5 pb-xl-5">
			<div class="container">
				<div class="findDoer-block-header text-center mb-4">
					<h2 class="headingText">PinDo is new in your community. Doers are joining every day!<br>
						If you don’t see a Doer that you are looking for, you have several options:</h2>
				</div>

				<div class="findDoer-block-wrap p-4">

					<div class="findDoer-block-holder d-flex align-items-center flex-wrap">

						<div class="findDoer-block px-3 py-4 py-xl-5 text-center">

							<span class="icon-item ic-group_people color-themeGreen mb-4">
							</span>

							<div class="dsc-holder mb-4">
								<h3 class="headingText">Make Pin Public</h3>
								<p>Doers can find your Pin while you remain anonymous</p>
							</div>

							<div class="btn-holder">
								<button type="button" (click)="makePinPublic()" class="btn-greenColor text-uppercase smFont-lg-size"
									mat-flat-button>MAKE PIN
									PUBLIC</button>
							</div>

						</div>
						<!--end findDoer-block-->

						<div class="findDoer-block px-3 py-4 py-xl-5 text-center">

							<span class="icon-item ic-chat-line color-themeGreen mb-4">
							</span>

							<div class="dsc-holder mb-4">
								<h3 class="headingText">Post to PinDo Feed</h3>
								<p>Get word of mouth recommendations</p>
							</div>

							<div class="btn-holder">
								<button type="button" class="btn-greenColor text-uppercase smFont-lg-size"
									(click)="pindoOpenDialog(slugName)" mat-flat-button>POST</button>
							</div>

						</div>
						<!--end findDoer-block-->

						<div class="findDoer-block px-3 py-4 py-xl-5 text-center">

							<span class="icon-item ic-add-user color-themeGreen mb-4">
							</span>

							<div class="dsc-holder mb-4">
								<h3 class="headingText">Invite a Doer</h3>
								<p>Send email to Doer not on PinDo</p>
							</div>

							<div class="btn-holder">
								<button type="button" (click)="inviteOpenDialog(slugName)"
									class="btn-greenColor text-uppercase smFont-lg-size" mat-flat-button>INVITE TO
									JOIN</button>
							</div>

						</div>
						<!--end findDoer-block-->

						<div class="findDoer-block px-3 py-4 py-xl-5 text-center">

							<span class="icon-item ic-share color-themeGreen mb-4">
							</span>

							<div class="dsc-holder mb-4">
								<h3 class="headingText">Post to Social</h3>
								<p>Copy link to send a summary of your Pin</p>
							</div>

							<div class="btn-holder">
								<button type="button" (click)="postSocialOpenDialog(slugName)"
									class="btn-greenColor text-uppercase smFont-lg-size" mat-flat-button>POST TO
									SOCIAL</button>
							</div>

						</div>
						<!--end findDoer-block-->

					</div>
					<!--end findDoer-block-holder-->

				</div>

			</div>

		</div>
	</div>
</div>
<div class="container mt-5">
	<pagination-controls *ngIf="doerListing.length>0" previousLabel="" nextLabel="" class="pagination-sec colorGreen"
		(pageChange)="p = $event; onChangePage($event)"></pagination-controls>
</div>