.contact-block {
	h4 {
		font: 13px/17px 'Montserrat-SemiBold';
		color: #656b70;
	}
	p {
		font: 12px/15px 'Montserrat-Medium';
		color: #89939c;
		i {
			margin-right: 10px;
			color: #b9d040;
		}
	}
}