.total_search {
	mat-spinner {
		position: absolute;
	    right: 70px;
	    top: 16px;
	}
	.mat-spinner {
		display: none;
	}
}
.filterSection {
	padding: 60px 0;
	position: relative;
	h4 {
		font: 14px/18px 'Montserrat-SemiBold';
		color: #565c62;
		margin-bottom: 20px;
	}
}

//colors
$black: #000000;
$color_tapa_approx: #737373;
$blue__color: #004467;


