<!-- class="totalDashboard" -->
<div class="dore-chat-Dashboard totalDashboard customtop_padding">
	<div class="container-fluid chat-fluid">
		<!-- <div class="mainHeading">
			<h3>Message Board</h3>
			<p>View all the conversations between you and the doer and send new messages to them</p>			
		</div> -->
		<div class="chatbox-wrapper">
			<div class="container">
				<div class="left seller-left">
					<div class="left_inr" id="user-menu">
						<div class="top">
							<div class="chat-search-area">
								<input type="text" name="srch" id="srch" placeholder="Search" [formControl]="searchValue"
									(keyup)="searchByTitle()">
							</div>
						</div>
						<!--end top-->
						<div class="left-middle-content" id="content-left-scroll" *ngIf="pinnerData.length!=0">
							<div id="refresh">
								<ul class="people">
									<li class="person" *ngFor="let pinnerDataList of pinnerData;let i=index;"
										id="liID_{{pinnerDataList.id}}">

										<span *ngIf="pinnerDataList.pin!=null">
											<div class="ticket-subj-list-info"
												(click)="getChat(pinnerDataList?.pub_doer_id,pinnerDataList?.pub_pinner_id,pinnerDataList?.pin,pinnerDataList?.id)">
												<span class="numb" *ngIf="pinnerDataList?.Count!=0">{{pinnerDataList.Count}}</span>
												<div class="ticket-img" *ngIf="pinnerDataList?.user?.profile_photo!=null">
													<!-- [ngClass]="quoteDetails?.pin_details?.status >= 2 || isMsgExists == 1 || quoteDetails?.status == 0? '': 'blurImg'" -->
													<img
														[ngClass]="quoteDetails[i]?.pin_details?.status >= 2 || isMsgExists[i] == 1 || quoteDetails[i]?.status == 0? '': 'blurImg'"
														src="{{imgUrl}}/profile_photo/{{pinnerDataList?.user?.profile_photo}}" alt=""
														*ngIf="pinnerDataList?.user?.user_type == 1">
													<img
														[ngClass]="quoteDetails[i]?.pin_details?.status >= 2 || isMsgExists[i] == 1 || quoteDetails[i]?.status == 0? '': 'blurImg'"
														src="{{imgUrl}}/company_logo/{{pinnerDataList?.user?.profile_photo}}" alt=""
														*ngIf="pinnerDataList?.user?.user_type == 2">
												</div>
												<div class="text-info">
													<h3 class="ticket-subj-name"
														[ngClass]="quoteDetails[i]?.pin_details?.status >= 2 || isMsgExists[i] == 1 || quoteDetails[i]?.status == 0? '': 'blurText'">
														{{pinnerDataList?.user?.name}}</h3>
													<h4 class="ticket-subj-smInfo">
														<b>{{pinnerDataList?.pin?.title}}</b></h4>
												</div>
											</div>
										</span>
										<span *ngIf="pinnerDataList?.pin==null">
											<div class="ticket-subj-list-info"
												(click)="getPinnerChat(pinnerDataList?.pub_doer_id,pinnerDataList?.pub_pinner_id,pinnerDataList?.user,pinnerDataList?.id)">
												<span class="numb" *ngIf="pinnerDataList?.Count!=0">{{pinnerDataList?.Count}}</span>
												<div class="ticket-img" *ngIf="pinnerDataList?.user?.profile_photo!=null">
													<img src="{{imgUrl}}/profile_photo/{{pinnerDataList?.user?.profile_photo}}" alt=""
														*ngIf="pinnerDataList?.user?.user_type == 1">
													<img src="{{imgUrl}}/company_logo/{{pinnerDataList?.user?.profile_photo}}" alt=""
														*ngIf="pinnerDataList?.user?.user_type == 2">
												</div>
												<div class="text-info">
													<h3 class="ticket-subj-name">
														{{pinnerDataList?.user?.name}}</h3>
												</div>
											</div>
										</span>
									</li>

								</ul>
							</div>
						</div>
						<!--end left-middle-content-->
						<div class="left-middle-content" id="content-left-scroll" *ngIf="showNoDataDetails">
							<div id="refresh">
								<ul class="people">
									<li class="person">
										<div>
											<h6>
												<!-- Data Not Found! -->
											</h6>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--end left-->
				<div class="right seller-right chat-right" [ngClass]="{'msgBoxDialog': innerChatGrid }">
					<div class="top d-flex align-items-center justify-content-between">
						<div class="chat-close-btn" (click)="closeChatbox()"><span class="ic-close"></span></div>
						<div class="top-ticket-right-info" *ngIf="pinCount==1">
							<h2 class="subject-name" (click)="backClicked()" style="cursor: pointer;">{{pinTitle}}</h2>
							<h4 class="issue-date"><span class="date">
									{{pinDate | date:"short"}}</span> | <span class="uid" (click)="backClicked()"
									style="cursor: pointer;">ID: {{pinUniqueId}}</span></h4>
						</div>
						<div class="top-ticket-right-info" *ngIf="userCountflug==1">
							<h2 class="subject-name">{{pinTitle}}</h2>
						</div>
					</div>
					<div class="chat-outer">
						<div class="chat-outer-content">
							<!--end user-sidebar-->
							<div class="chat" id="content-middle-scroll" *ngIf="pinnerData.length!=0">
								<div class="chat-wrap">
									<div *ngFor="let chatData of chatDatas;let count = index">
										{{last ? callFunction(i) : ''}}
										<div class="day-show"
											*ngIf="(count>0 &&  (chatDatas[count-1]?.created_at | date:'fullDate') != (chatDatas[count]?.created_at | date:'fullDate')) || count == 0">
											<ng-container [ngSwitch]="true">
												<span
													*ngSwitchCase="(currentDate | date:'fullDate') == (chatData?.created_at | date:'fullDate')">Today</span>
												<span
													*ngSwitchCase="(yesterDay | date:'fullDate') == (chatData?.created_at | date:'fullDate')">Yesterday</span>
												<span *ngSwitchDefault>{{chatData?.created_at | date:'fullDate'}}</span>
											</ng-container>
										</div>

										<div class="bubble-you" *ngIf="chatData?.reply_from==pinnerId">
											<!-- <div class="message-data-info">
                                                    <div class="message-data-name">

                                                            <div class="person-img">
                                                                    <img src="./assets/images/{{chatData.user.profile_photo}}" alt="">
                                                            </div>
                                                            {{chatData.user.name}}
                                                            <span class="message-time">{{chatData.created_at | date:"shortTime"}}</span>
                                                        </div>
                                                </div> -->
											<div class="bubble-content">
												<p>{{chatData?.message}}</p>
												<!-- <p><a href="{{globalConstant.chatFileUrl}}/chat/{{chatData?.attachment}}"
														target="_blank">{{chatData?.attachment}}</a></p> -->
												<p><a href="{{imgUrl}}/chat_images/{{chatData?.attachment}}"
														target="_blank">{{chatData?.attachment}}</a></p>		
												<sub> <span class="message-time">{{chatData?.created_at | date:"shortTime"}}</span> </sub>
											</div>
										</div>
										<div class="bubble-me" *ngIf="chatData?.reply_from==doerId">
											<!-- <div class="message-data-info">
                                                    <div class="message-data-name">
                                                        {{chatData.user.name}}
                                                        <span class="message-time">{{chatData.created_at | date:"shortTime"}}</span>
                                                        <div class="person-img">
                                                                <img src="./assets/images/{{chatData.user.profile_photo}}" alt="">
                                                        </div>
                                                    </div>
                                                </div> -->
											<div class="bubble-content">
												<p>{{chatData?.message}} </p>
												<!-- <p><a href="{{globalConstant.chatFileUrl}}/chat/{{chatData.attachment}}"
														target="_blank">{{chatData?.attachment}}</a></p> -->
												<p><a href="{{imgUrl}}/chat_images/{{chatData?.attachment}}"
														target="_blank">{{chatData?.attachment}}</a></p>		
												<sub> <span class="message-time">{{chatData?.created_at | date:"shortTime"}}</span> </sub>
											</div>

											<!-- <span>{{TypingName}}</span> -->
										</div>
									</div>
									<!--chat-outer -->
								</div>
								<!--end chat-wrap-->
							</div>
							<!--end chat-->
							<div class="chat" *ngIf="showNoDataDetails">
								<div class="chat-wrap">
									<div>
										<!--  No message! -->
									</div>
									<!--chat-outer -->
								</div>
								<!--end chat-wrap-->
							</div>
							<!--end chat-->
						</div>
						<!--end chat-outer-content-->


					</div>
					<!--end write-->
					<div class="write">
						<form name="chatForm" id="chatForm" #chatForm="ngForm" [formGroup]="chatform"
							(ngSubmit)="sendChat(chatform.value)" enctype="multipart/form-data">

							<div class="write-inr">
								<div class="write-input-wrap">
									<textarea class="form-control" placeholder="Write your message..."
										[formControl]="chatform.controls['chatValue']" (keypress)="keyPressOnTextArea($event)"
										[readonly]="disbale_msg_textarea"></textarea>
									<span class="attach">
										<i class="fa fa-paperclip" *ngIf="chatImage==''"></i>
										<i class="fa fa-paperclip" style="color: green" *ngIf="chatImage!=''"></i>
										<input type="file" name="attachment_file" id="attachment_file" (change)="onChange($event)"
											id="attachment_file">
										<input type="hidden" [formControl]="chatform.controls['pin_id']">
										<input type="hidden" [formControl]="chatform.controls['pinner_id']">
										<input type="hidden" [formControl]="chatform.controls['doer_id']">
									</span>

								</div>
								<div class="send-btn">

									<button class="chatSend-btn" type="submit" id="subbtn" [disabled]="disbale_msg_textarea"></button>
								</div>
							</div>
							<!--end write-inr-->
						</form>
					</div>
					<!--end right-->
				</div>
				<!--end container-->
			</div>
		</div>
	</div>