.scrollElement{ padding-top: 112px; height: auto; overflow-y: unset;}

.fullPopupContent{
    padding-bottom: 70px;
}

.categorySelect-wrap{
    .categorySelect-block{
        .categorySelect-box{
            label {
                .circleBox {
                    .ic-covid_19_new{
                        font-size: 84px;
                        right: -3px;
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
    }
    
}
::ng-deep{

  .mat-datepicker-toggle-default-icon{
    margin-left: auto !important;
    margin-right: 0 !important;
    path+path{
        fill: #BAD141;
    }
}  

}
