
<div class="scrollElement">

  <div class="overlayFullPopup opened">
    <div class="fullPopupHeader px-3">
      <button mat-icon-button class="btn-back float-left"><span
          class="or or-return"></span></button>
      <div class="container">
        <div class="createPin-page-header">
          <h3 class="heading-text mb-0 text-uppercase">{{pinCreationOrUpdate}}</h3>

          <div class="step-header d-flex align-items-center mx-auto justify-content-lg-center justify-content-md-end">
            <div class="step-header-block">
              <div class="blockText-block">
                <div class="dot"></div>
                <div class="blockText">
                  1. Select Category
                </div>
              </div>
            </div>

            <div class="step-header-block">
              <div class="blockText-block">
                <div class="dot"></div>
                <div class="blockText">
                  2. Pin Details
                </div>
              </div>
            </div>

            <div class="step-header-block">
              <div class="blockText-block">
                <div class="dot"></div>
                <div class="blockText">
                  3. Get Quotes
                </div>
              </div>
            </div>

          </div>
          <!--end step-header-->
        </div>
      </div>
      <!--end container-->
    </div>
    <hr class="m-0">
    <div class="fullPopupContent createPinContent">

  
        <div class="createPin-step-wrap">
          <div class="createPin-step-content">
            <div class="container">

              <div class="step1-heading-block text-center  mb-2 mb-md-4">
                <h3 class="headingText">Post Your Pin For Doers To Bid On</h3>
                <p>Follow the steps below to post your Pin. Once posted you will start receiving Doer bids note: Doers
                  may
                  ask questions to clarify your job before providing a bid.</p>
              </div>

              <div class="categorySelect-wrap d-md-flex flex-wrap align-items-center justify-content-center pt-0 pb-md-4 pb-2">

                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id" type="radio" value="1"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-covid_19_new"></span>
                      </div>
                      <span class="infoText">COVID-19</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->

                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id" type="radio" value="2"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-entertainment"></span>
                      </div>
                      <span class="infoText">Events</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->

                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="3"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-health"></span>
                      </div>
                      <span class="infoText">Health & Wellness</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->


                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="4"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-home"></span>
                      </div>
                      <span class="infoText">Home Services</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->


                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="5"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-book"></span>
                      </div>
                      <span class="infoText">Learning</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->

                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="6"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-book"></span>
                      </div>
                      <span class="infoText">Learning</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->


                  <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="7"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-personal-care"></span>
                      </div>
                      <span class="infoText">Personal Care</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->

                <div class="categorySelect-block mx-xl-4 mx-lg-3 mx-md-3 mx-0 mb-md-2 mb-lg-0 greenColor">
                  <div class="categorySelect-box">
                    <input name="category_id"  type="radio" value="8"
                      >
                    <label for="cat_1">
                      <div class="circleBox d-flex align-items-center justify-content-center">
                        <span class="ic-petcare"></span>
                      </div>
                      <span class="infoText">Pets</span>
                    </label>
                  </div>
                </div>
                <!--end categorySelect-block-->

              </div>
              <!-- <hr class="m-0">

              <div class="subCategory-wrap pt-3 pb-3 pt-md-4 pb-md-4">

                <div class="subCategory-content d-flex align-items-center flex-wrap" >

                  <div class="custom_radioGreen" *ngFor="let subCategory of subCategoriesList">
                    <input name="sub_category" formControlName="sub_category" type="radio" value="{{subCategory.id}}"
                      id="{{subCategory.id}}" (change)="handleSubCategoryValue(subCategory.id)">
                    <label for="{{subCategory.id}}">{{subCategory.name}}</label>
                  </div>
                </div>

              </div> -->
              <!--end subCategory-wrap-->

              <div class="matComnForm mb-4">
                <mat-form-field appearance="outline">
                  <mat-label>Name Your Pin <sup>*</sup></mat-label>
                  <input matInput name="pin_name" type="text" class="form-control"
                    placeholder="Pin name">
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="createPin-step-footer d-flex align-items-center">
            <div class="container text-right">

              <div class="btn-holder">
                <button mat-flat-button type="button" class="btn btn-gray-border smFont-lg-size text-uppercase mr-2"
                  >CANCEL</button>
                <button mat-flat-button type="submit" class="btn btn-greenColor smFont-lg-size text-uppercase"
                 >NEXT</button>
              </div>

            </div>
          </div>
        </div>
        <!--end createPin-step-wrap createPin-step-1-->
   



    </div>
    <!--end fullPopupContent-->
  </div>
</div>