<div class="total_course">
    <h6 class="special_header">Endorse The Doer</h6>
    <p class="subheading">Select the category and endorse this doer</p>
    <mat-form-field appearance="outline">
        <mat-select placeholder="Select Sub Category">
            <mat-option>
              gfgfgf
            </mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container>
        <p class="subheading">Select Sub-category</p>
        <div class="chooseSubCategory eachFilterBlock clearfix">            
            <div class="greyCheck">
                <input type="checkbox" id="ff" checked>
                <label for="ff">dffd</label>
            </div>
        </div>
    </ng-container>
    <div class="d-flex justify-content-center pt-5">
        <button type="button" mat-raised-button color="primary" class="text-uppercase mat-primary">
            Endorse
        </button>
    </div>
</div>



