<div class="common_topgap pt-0" id="privacy" *ngIf="afterInit">
	<div class="newtop_section">
        <div class="container h-100 posn_rel">
            <div class="d-flex flex-wrap align-content-center h-100 posn_rel">
                <div class="text_back">
                    {{cmsData.title}}
                </div>
                <div class="inn_div align-self-center">
                    <h2>What can PinDo do for you?</h2>
                    <p>(we can do it, yes we can)</p>
                </div>
            </div>            
        </div>
    </div>
	<div class="privacy-section">
		<div class="filterSection clearfix">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						 <div [innerHTML]="cmsData.content"></div>
    				</div>
				</div>
			</div>
		</div>

	</div>
</div>
