::ng-deep{
    .mat-button-toggle.btn-greenColor label{
        background-color: #BAD141 !important;
        color: #ffffff;
    }


}

.meta-heading{
    padding-left: 0;
    p{
        padding-top: 46px;
    }
    .btn-back{
        top: -8px;
    }
}
.mainHeading{
    h3{
        margin-top: 0;
        margin-bottom: 25px;
    }
}

